:host {
  outline: none;
}

.fs-color-picker-preview-wrapper {
  margin-right: 6px;

  &.disabled {
    cursor: default;
  }
}

::ng-deep .fs-color-picker-dialog-container .mat-dialog-container {
  padding: 0;
}
