:host {
  outline: none;
}

.fs-color-picker-preview-wrapper {
  align-self: flex-end;
  margin-right: 4px;
  margin-bottom: 4px;

  &.disabled {
    cursor: default;
  }
}

::ng-deep .fs-color-picker-dialog-container .mat-dialog-container {
  padding: 0;
}
