.fs-color-picker-preview-wrapper div {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

::ng-deep .fs-color-picker-dialog-container .mat-dialog-container {
  padding: 0;
}