.color-palette:hover {
  cursor: pointer;
}

:host {
  width: 255px;
  height: 255px;
  display: block;
  margin-right: 7px;
  position: relative;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
}
