<mat-tab-group headerPosition="below" [style.background]="colorRgb" [style.color]="contrastColor">
  <mat-tab label="HEX">
    <div class="color" [style.background]="colorRgb">
      <input [(ngModel)]="colorHex" name="color-hex" [style.color]="contrastColor" (ngModelChange)="hexChanged()">
    </div>
  </mat-tab>
  <mat-tab label="RGB">
    <div class="color" [style.background]="colorRgb">
        <input [(ngModel)]="colorRgb" name="color-rgb" [style.color]="contrastColor" (ngModelChange)="rgbChanged()">
    </div>
  </mat-tab>
</mat-tab-group>

<div class=color-wrapper>
  <cp-color-palette [color]="paletteColor" (colorChanged)="colorPaletteChange($event)"></cp-color-palette>
  <cp-hue-slider [color]="sliderColor" (colorChanged)="colorSliderChange($event)"></cp-hue-slider>
</div>

<div class="buttons">
  <button mat-raised-button color="primary" (click)="select()">Select</button>
  <button mat-button [mat-dialog-close]="null" color="primary">Cancel</button>
</div>
