:host {
  display: inline-block;

  ::ng-deep {
    .mat-tab-label {
      min-width: 0;
      width: 50%;
      color: unset;
      opacity: .45;

      &.mat-tab-label-active {
        opacity: 1;
      }
    }

    .header {
      background-image: linear-gradient(to right, rgba(228, 228, 228, 0.75), rgba(228, 228, 228, 0.75)),
                        linear-gradient(to right, black 50%, white 50%),
                        linear-gradient(to bottom, black 50%, white 50%);
      background-blend-mode: normal, difference, normal;
      background-size: 10px 10px;
    }

    mat-tab-group {
      input {
        padding: 15px;
        text-align: center;
        font-size: 20px;
        width: 100%;
        border: none;
        background: transparent;
        box-sizing: border-box;
        outline: none;
      }
    }

    .mat-tab-group-inverted-header .mat-tab-nav-bar,
    .mat-tab-group-inverted-header .mat-tab-header {
      border: none;
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background: unset;
    }
  }
}

.color-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
  user-select: none;

  app-color-palette {
    margin-right: 7px;
  }
}

.buttons {
  padding: 0 7px 7px 7px;
  display: flex;
  flex-direction: row;

  button {
    width: 10 0%;
  }
}
