<mat-tab-group headerPosition="below" [ngStyle]="{ background: colorRgb }">
  <mat-tab label="HEX"><div class="color" [ngStyle]="{ background: colorRgb }">{{colorHex}}</div></mat-tab>
  <mat-tab label="RGB"><div class="color" [ngStyle]="{ background: colorRgb }">{{colorRgb}}</div></mat-tab>
</mat-tab-group>

<div class=color-wrapper>
  <app-color-palette [hue]="hue" (color)="colorPaletteChange($event)" [selectedPosition]="selectedPosition"></app-color-palette>
  <app-hue-slider (color)="colorHueChange($event)" [selectedHeight]="selectedHeight"></app-hue-slider>
</div>