<div class="header">
  <mat-tab-group headerPosition="below" [style.background]="colorRgb" [style.color]="contrastColor">
    <mat-tab label="HEX">
      <div class="color" >
        <input [(ngModel)]="colorHex"
               name="color-hex"
               [style.color]="contrastColor"
               (ngModelChange)="hexChanged()"
               (paste)="pasted($event)"
               (keydown.enter)="select()">
      </div>
    </mat-tab>
    <mat-tab label="RGB">
      <div class="color" >
        <input [(ngModel)]="colorRgb" name="color-rgb" [style.color]="contrastColor" (ngModelChange)="rgbChanged()">
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class=color-wrapper>
  <cp-color-palette [color]="paletteColor" (changed)="paletteChanged($event)"></cp-color-palette>
  <cp-hue-slider [color]="color" (changed)="sliderChanged($event)"></cp-hue-slider>
</div>

<div class="buttons">
  <button mat-button color="primary" (click)="select()">Select</button>
  <ng-container *ngIf="showClear">
    <button mat-button (click)="clear()">Clear</button>
  </ng-container>
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>  
</div>
